@import '../../scss/colors';

:host {
  font-size: 1rem;
}

.product {
  width: 20rem;
  border: 0.15rem solid black;
  margin-bottom: 0.625rem;
  margin-top: 1.25rem;
  box-shadow: 5px 8px;

  img {
    width: 12.5rem;
    height: 12.5rem;
    margin-left: 17%;
    margin-top: 5%;
  }

  &__product-price {
    color: $product-price-color;
    font-weight: bold;
    font-size: 1.125rem;
    padding-bottom: 1rem;
    padding-left: 0.9375rem;
  }

  &__product-discount {
    color: $discount-color;
    font-weight: bold;
    font-size: 0.6875rem;
    padding-top: 0.4rem;
  }
}
