.product {
  width: 20rem;
  // padding: 3rem;
  border: 2px solid lightgray;
  // float: left;
}
.product-price {
  color: green;
  font-weight: bold;
  padding-bottom: 1rem;
}

.product-discount {
  color: red;
  font-weight: bold;
  font-size: 11px;
  padding-top: 0.4rem;
}