.product {
  width: 20rem;
  border: 10px solid lightgray;
  margin-bottom: 10px;
  margin-top: 20px;
  
  img {
    width: 200px;
    height: 200px;
    margin-left: 17%;
    margin-top: 5%;
  }
}
.product-price {
  color: green;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 1rem;
  padding-left: 15px;
}

.product-discount {
  color: red;
  font-weight: bold;
  font-size: 11px;
  padding-top: 0.4rem;
}