$background-color: lightgray;
$button-color-primary: green;
$discount-color: red;
$delete-icon-color: red;
$close-button-color: red;
$header-color: purple;
$border-color: lightgray;
$main-background-color: white;
$message-color: lightcoral;
