@import "../scss/colors";

:host {
  font-size: 1rem;
}

.cart-layout {
  margin-top: 1.25rem;
  margin-left: 2.0625rem;
  margin-right: 2.0625rem;
  margin-bottom: var(--bs-gutter-y, 100%);
}
.delete-item {
  color: $delete-icon-color;
  font-size: 1.5625rem;
  font-weight: bold;
}
.final-payment {
  float: right;
  font-weight: bold;
  margin-right: 0.3125rem;
}
