.cart-layout {
    margin-top: 20px;
    margin-left: 33px;
}
.delete-item {
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.final-payment {
    float: right;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 20px;
}