.heading {
    margin-top: 2rem;
    color: purple;
}
.user {
    display: inline;
    margin-top: -35px;
    margin-right: 140px;
    float: right;
}
.cart {
    display: inline;
    margin-top: -35px;
    margin-right: 100px;
    float: right;
}

nav {
    margin-left: 40px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    display: inline;
    padding: 1rem;

    a {
        text-decoration: none;
    }
    
}
.active {
    color: black;
}
