@import "./scss/colors";

:host {
  font-size: 1rem;
}

.main {
  background-color: $main-background-color;
  border: 0.0625rem solid $border-color;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 0;
  padding-left: 0;
}

.heading {
  color: $header-color;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1.875rem;
}
.cart {
  display: inline-block;
}

li {
  list-style: none;
  display: inline;
  padding: 1rem;

  a {
    text-decoration: none;
  }
}
.active {
  color: black;
}
.navbar-expand-lg .navbar-collapse {
  height: 4.6875rem;
}
