.heading {
    margin-top: 2rem;
    color: purple;
}

nav {
    margin-left: 70px;
    margin-bottom: 20px;
}

li {
    list-style: none;
    display: inline;
    padding: 1rem;

    a {
        text-decoration: none;
    }
    
}
.active {
    color: black;
}