@import './scss/colors';

:host {
  font-size: 1rem;
}

.main {
  background-color: lighten($primary-color, 20);
  border: 0.0625rem solid $border-color;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  padding-right: 0;
  padding-left: 0;
}

.heading {
  color: $primary-color;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 1.875rem;

  &:hover {
    color: $product-price-color;
  }

  &:active {
    color: $primary-color;
  }

  &:focus {
    color: $primary-color;
  }
}
.cart {
  display: inline-block;
}

li {
  list-style: none;
  display: inline;
  padding: 1rem;

  a {
    text-decoration: none;
  }
}
.active {
  color: black;
}
.navbar-expand-lg .navbar-collapse {
  height: 10rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $secondary-color;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: $primary-color;
}
.navbar-nav {
  margin-left: 15rem;

  nav-link {
    margin-left: 2rem;
  }
}
