<div class="container main">
  <nav
    class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light"
  >
    <div class="container-fluid">
      <a
        class="navbar-brand heading"
        href="javascript:void(0)"
        routerLink="/home"
        ><i class="bi bi-moon-stars-fill"></i> Winning eCommerce</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link active"
            routerLink="/home"
            [class.active]="currentRoute === '/home'"
            ><i class="bi bi-house-door-fill"></i> Home</a
          >
          <a
            class="nav-link"
            routerLink="/products"
            [class.active]="currentRoute === '/products'"
            ><i class="bi bi-box2-fill"></i> Products</a
          >
          <a
            class="nav-link"
            href="javascript:void(0)"
            (click)="showCart()"
            [class.active]="currentRoute === '/shopping-cart'"
            ><i class="bi bi-cart-fill"></i> Cart</a
          >
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
