@import "../../scss/colors";

:host {
  font-size: 1rem;
}

.property-name {
  font-weight: bold;
}
.message {
  margin-top: 1.25rem;
  margin-bottom: -1.25rem;
  color: $message-color;
  font-weight: bold;
}
.close-button {
  color: $close-button-color;
  font-weight: bold;
}
.close-icon {
  color: $close-button-color;
  font-weight: bold;
  font-size: 1.5625rem;
}
