.property-name {
    font-weight: bold;
}
.message {
    margin-top: 20px;
    margin-bottom: -20px;
    color: lightcoral;
    font-weight: bold;
}
.close-button {
    color: red;
    font-weight: bold;
}
.close-icon {
    color: red;
    font-weight: bold;
    font-size: 25px;
}