@import "~bootstrap/scss/bootstrap";

$backgroundColour: lightgray;
$borderColour: lightgray;
$productPriceColour: green;
$productDiscountColour: red;

body {
    background-color: $backgroundColour;
}