<div class="container">
  <div class="row main">
    <div class="col">
      <h1>The best place to buy stuff online</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        incidunt nobis ab corrupti libero exercitationem. Laborum fuga veniam
        amet doloremque labore maiores neque, modi aut nihil soluta voluptas
        perferendis obcaecati. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Voluptatem incidunt nobis ab corrupti libero
        exercitationem. Laborum fuga veniam amet doloremque labore maiores
        neque, modi aut nihil soluta voluptas perferendis obcaecati.
      </p>
      <button type="button" class="btn btn-success" (click)="gotoProducts()">
        Explore
      </button>
      <button type="button" class="btn btn-danger">Sign Up</button>
    </div>
    <div class="col">
      <img src="assets/main.jpg" alt="" />
    </div>
  </div>
</div>

<!-- <div class="main">
  <div class="main-content">
    <h1>The best place to buy stuff online</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
      incidunt nobis ab corrupti libero exercitationem. Laborum fuga veniam amet
      doloremque labore maiores neque, modi aut nihil soluta voluptas
      perferendis obcaecati.
    </p>
    <a href="#" class="btn-primary">Explore</a>
    <a href="#" class="btn-secondary">Sign Up</a>
  </div>
  <img src="assets/main.jpg" alt="" />
  <div class="products-link">
    <a href="javascript:void(0)" (click)="gotoProducts()">Go to products</a>
  </div>
</div> -->
